.product{
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    z-index: 1;
}

.product:hover{
    transform: scale(0.97);
    box-shadow: 0 0 20px;
    transition-duration: 0.2s;
}

.product_rating{
    display: flex;
}

.product > img{
    height: 200px;
    object-fit: contain;
    width: 100%;
    margin-bottom: 15px;
}

.product > button{
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 ;
    color: #111;
}

.product_price{
    margin-top: 5px;
}

.product_qty{
    margin: 5px;
}

.product_info{
    height: 100px;
    margin-bottom: 15px;
}